@page "/"
@using Microsoft.Data.Sqlite
@using Microsoft.EntityFrameworkCore

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<button @onclick="RunEFCore">Run EF Core</button>

@code {
    private async Task RunEFCore()
    {
        var connectionStringBuilder = new SqliteConnectionStringBuilder { DataSource = ""}; // Temporary
        var connection = new SqliteConnection(connectionStringBuilder.ToString());

        var options = new DbContextOptionsBuilder<OrderContext>()
            .UseSqlite(connection)
            .Options;

        using var db = new OrderContext();
        db.Database.OpenConnection();
        await db.Database.EnsureCreatedAsync();
        var nextId = db.Orders.Count() + 1;
        db.Orders.Add(new Models.Order(true, 11111111, "Test", Models.ShippingMethod.CPUP, DateTime.Now));
        await db.SaveChangesAsync();

        await foreach (var orderNumber in db.Orders.AsAsyncEnumerable())
        {

        }
        db.Database.CloseConnection();

    }
}    using Microsoft.Data.Sqlite;
    using Microsoft.EntityFrameworkCore;
    using Microsoft.EntityFrameworkCore;
